{% extends 'flatpages/default.html' %}

{% load custom_filter %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
    <h1>Количество всех новостей</h1>
    <h3>{{ posts|length }}</h3>
    <hr>
    <table>
        <tr>
            <td>Заголовок</td>
            <td>Дата публикации</td>
            <td>Превью</td>
        </tr>

        {% for post in posts %}
        <tr>
            <td>{{ post.header|censor }}</td>
            <td>{{ post.date|date:'d M Y' }}</td>
            <td>{{ post.text|truncatechars:20|censor }}</td>
        </tr>
        {% endfor %}
    </table>

    {% if page_obj.has_previous %}
        <a href="?page=1">1</a>
        {% if page_obj.previous_page_number != 1 %}
            <a href="?page={{ page_obj.previous_page_number }}">
                {{ page_obj.previous_page_number }}
            </a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">
            {{ page_obj.next_page_number }}
        </a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            <a href="?page={{ page_obj.paginator.num_pages }}">
                {{ page_obj.paginator.num_pages }}
            </a>
        {% endif %}
    {% endif %}

{% endblock content %}